<div class="row">
    <form action="/user/signin" method="POST" novalidate>
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" id="txtUsername" placeholder="username" class="form-control" name="username" />
            </div>
            <div class="form-group">
                <input  id="txtPwd" type="password" placeholder="password" class="form-control" name="password" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-danger" onclick="return validate()" />
            </div>
        </div>
    </form>
</div>

<script>
    function validate() {
        var username = document.getElementById("txtUsername");
        var pwd = document.getElementById("txtPwd");
        console.log(pwd.value);

        if (!username.value) {
            alert("Username is required");
            return false;
        }

        if (!pwd.value) {
            alert("Password is required");
            return false;
        }
    }
</script>